/* footer */

footer{ 
    margin: auto;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #bbd0ff ;
}

footer > img{
    height: 40px;
}

footer > div{
    margin: auto 50px;
    font-size: 14px;
}

footer span:nth-of-type(1){
    font-weight: bold;
    font-size: 18px;
}