/* 전체 화면 */
#contents{
    width: 1140px;
    padding: 0 20px 27px 20px;
}

div{
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    border-bottom: 1px solid #CCC;
    width: 95%;
    padding-bottom: 10px;
}

/* 지역별 */
#location-area{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

#locations{
    display: inline-block;
    width: 100%;
}


#locations li{
    float: left;
    text-align: center;
    width: 15%;
    line-height: 50px;
}

#locations li:hover{
    cursor: pointer;
    background-color: #bbd0ff;
    color: white;
    border-color: white;
}

#locations li{
    color: black;
    box-sizing: border-box;
    padding: 12px 0;
    font-size: 25px;
    font-weight: bold;
}


/* 코스별 */
#course-area{
    margin-top: 50px;
}

#courses{
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.c-list li{
    float: left;
    border-radius: 20px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 20px;
    background-color: #bbd0ff;
    color: white;

}

.c-list li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    
}

/* 해시태그별 */
#hashTag-area{
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}

#tags{
    display: flex;
}

.t-list li{
    float: left;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 25px;
    font-size: 23px;
    font-weight: bold;
}


/* 샘플 영역 */
#sample-area{
    border-top: 1px solid #ccc;
    margin-top: 50px;
    height: auto;
    display: flex;
    justify-content: space-around;

}

.samples{
    border: 1px solid #ccc;
    margin-top: 20px;
    /* position: absolute; */
    display: inline-block;
}

.s-pic{
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    width: 350px;
    height: auto;


}

.s-pic>a{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 20px 20px;
}

.s-pic strong{
    overflow: hidden;
    display: -webkit-box;
    height: 70px;
    color: #fff;
    margin-bottom: 7px;
    font-weight: 700;
    line-height: 1.2;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 25px;
}

.s-pic ul{
    width: 120px;
    padding: 0;
    margin-top: 100px;
}

.s-pic li{
    color: #fff;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.s-list span{
    display: block;
    margin-top: 20px;
    margin-left: -6px;
    padding-left: 20px;
    background: url(https://cdn.visitkorea.or.kr/resources/images/sub/ico_leftobj.png) 0 50% no-repeat;
    background-size: 18px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.s-list>li{
    background: url(https://cdn.visitkorea.or.kr/resources/images/sub/line_leftobj.png) 0 0 repeat-y;
    background-size: 8px;
    padding: 10px 0;
}