/* 전체 화면 */
#contents{
    width: 1140px;
    padding: 70px 20px 27px 20px;   
    /* margin-left: 560px; */
    border: 1px solid #ccc;
}

/* 헤더  */
#top1{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: top;
    margin-bottom: 5px;
}

.icon-writer>img{
    width: 40px;
}

.btn-bookmark{
    border: 0 none;
    margin-top: 0;
    background-color: transparent;
}

.icon-bookmark{
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: url(https://cdn.visitkorea.or.kr/resources/images/sub/ico_mpost03.png) 0 0 / 100% 100% no-repeat;
}

.icon-bookmark:hover{
    cursor: pointer;
}

#top-middle{
    text-align: center;
}

#btn-area{
}

#btn-area>button{
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    border-color: white;
    background-color: white;
    height: 30px;
}

#btn-area>button:hover{
    cursor: pointer;
    background-color: #13294b;
    border-color: #13294b;
    color: white;
}

#top-bottom{
    display: flex;
    justify-content: space-between;
}

/* 바디 */
#moveline-area{
    border: 1px solid #ccc;
}

#moveline-map-area{
    border: 1px solid #ccc;
    height: 400px;
}

#moveline-content, #moveline-hashtags, #moveline-images, #moveline-map{
    border: 1px solid #ccc;
}

#moveline-content{
    height: 350px;
}

/* 코스 이미지 */
#moveline-images>img{
    width: 300px;
    height: 300px;
}

#moveline-images{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* 랜드마크 디테일 */
#landmark-area{
    border: 1px solid #ccc;

}

.landmark-detail{
    border: 1px solid #ccc;
    text-align: center;
    font-size: 30px;
}


/* 랜드마크 이미지 */
#landmark-images>img{
    width: 300px;
    height: 300px;
    text-align: center;
}

#landmark-images{
    display: flex;
    justify-content: center;
}

#landmark-explain{
    border: 1px solid #ccc;
    height: 100px;
}

/*  */