li{
    list-style: none;
}


/* 전체 화면 */
#contents{
    width: 1140px;
    padding: 70px 20px 27px 20px;
    margin-left: 560px; 

}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 맨위 */
#top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

#first-h1{
    margin-top: 20px;
    margin-bottom: 10px;
}

h1{
    font-size: 30px;
}

#write-form{
    font-size: 15px;
    font-weight: bold;
    margin-top: 60px;
    border-color: white;
    background-color: white;
    margin-bottom: 10px;
    width: 70px;
    height: 50px;
}

#write-form:hover{
    cursor: pointer;
    background-color: #13294b;
    border-color: #13294b;
    color: white;
}

.ml-title{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 800px;
}

.ml-title:hover{
    cursor: pointer;
}

.title-area{
    width: 800px;

}

.detail-list{
    width: 100%;
    padding-left: 0;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    float: none !important;

    padding: 10px 10px
}

/* 썸네일 */
.thumbnail{
    
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    height: 150px;
}

.thumbnail:hover{
    cursor: pointer;
}

div>img{
    width: 200px;
    height: 150px;
}


/* 코스 디테일 */
.ml-detail{
    padding-left: 220px;
    height: 230px;
}

.ml-title:hover{

    cursor: pointer;

}

.landmarks{
    border: 1px solid #13294b;
    border-radius: 20px;
    background-color: #13294b;
    color: white;
    padding: 3px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;

}

.hashtags{
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;

}

/* 즐겨찾기, 조회수, 작성자 영역 */
.ml-detail-plus{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.btn-bookmark{
    border: 0 none;
    margin-top: 0;
    background-color: transparent;
}

.icon-bookmark{
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: url(https://cdn.visitkorea.or.kr/resources/images/sub/ico_mpost03.png) 0 0 / 100% 100% no-repeat;
}

.icon-bookmark:hover{
    cursor: pointer;
}

/* 페이지네이션(Pagination */
.pagination{
    padding: 0;
    margin-top: 50px;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination>li{
    width: 20px;
    margin: 0 6px;
    text-align: center;
    color: #13294b;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: #13294b;
    color: white;
    border-radius: 50%;
    font-weight: bold;
}