<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="locationMapper">

	<resultMap type="Locations" id="Locations_rm">
		<id 	property="locationNum" 		column="LOCATION_TYPE"/>
		<result property="locationName" 	column="LOCATION_NAME"/>
	</resultMap>
	
	<select id="locationList" resultMap="Locations_rm">
		SELECT * 
		FROM LOCATIONS
	</select>
</mapper>
