<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="movelineMapper">

	<!-- ================================== resultMap ========================================== -->

	<!-- 지역별 코스 목록 조회용 resultMap -->   
	<resultMap type="MoveLineList" id="MoveLineList_rm">
		
		<result property="thumbnail" column="THUMBNAIL"/>
		<result property="movelineTitle" column="ML_TITLE"/>
		<result property="landMarkName" column="LM_NAME"/>
		<result property="movelineHashName" column="ML_HASH_NAME"/>
		<result property="locationName" column="LOCATION_NAME"/>
		
	</resultMap>
	
	
	<resultMap type="MoveLine" id="MoveLine_rm">
		
		<result property="movelineNo" column="ML_NO"/>
		<result property="movelineTitle" column="ML_TITLE"/>
		<result property="movelineContent" column="ML_CONTENT"/>
		<result property="createDate" column="ML_CREATE_DT"/>
		<result property="updateDate" column="ML_UPDATE_DT"/>
		<result property="deleteDate" column="ML_DELETE_DT"/>
		<result property="movelineTheme" column="ML_THEME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="locationName" column="LOCATION_NAME"/>
		<result property="readCount" column="READ_COUNT"/>
		
	</resultMap>
	
	
	<!-- 코스 상세 조회용 resultMap -->
	<resultMap type="MoveLineDetail" id="MoveLineDetail_rm">
	
		<result property="movelineNo" column="ML_NO" />
		
		<result property="movelineTitle" column="ML_TITLE" />
		<result property="movelineContent" column="ML_CONTENT" />
		<result property="createDate" column="ML_CREATE_DT" />
		<result property="updateDate" column="ML_UPDATE_DT" />
		<result property="deleteDate" column="ML_DELETE_DT" />
		<result property="movelineTheme" column="ML_THEME" />
		<result property="readCount" column="READ_COUNT" />
		
		<result property="locationType" column="LOCATION_TYPE" />
		<result property="locationName" column="LOCATION_NAME" />
		
		<result property="mlHashNo" column="ML_HASH_NO" />
		<result property="mlHashName" column="ML_HASH_NAME" />
		
		<result property="userNo" column="USER_NO" />
		<result property="userName" column="USER_NAME" />
		<result property="profileImage" column="USER_PROFILE" />
		
		<result property="thumbnail" column="THUMBNAIL" />
		
		<result property="landMarkNo" column="LM_NO" />
		<result property="landMarkX" column="LM_X" />
		<result property="landMarkY" column="LM_Y" />
		<result property="landMarkName" column="LM_NAME" />
		<result property="landMarkContent" column="LM_CONTENT" />
		<result property="landMarkAddress" column="LM_ADDRESS" />
		<result property="landMarkFL" column="LM_FL" />
		<result property="landMarkCreate" column="LM_CREATE_DT" />
		
		
		<collection property="imageList" column="ML_NO"
	  javaType="java.util.ArrayList" ofType="MoveLineImage" select="selectImageList"/>
	  
	</resultMap>
	
	
	<!-- 코스 이미지 조회용 resultMap -->
	<resultMap type="MoveLineImage" id="MoveLineImage_rm">
	
		<id property="movelineImageNo" column="ML_IMG_NO" />
		<result property="movelineRename" column="ML_RENAME" />
		<result property="movelineLevel" column="ML_IMG_LEVEL" />
		<result property="movelineNo" column="ML_NO" />

	</resultMap>
	
	<!-- ======================================================================================== -->
	
	<!-- 특정 게시글 이미지 목록 조회 -->
    <select id="selectImageList" resultMap="MoveLineImage_rm">
		SELECT * FROM ML_IMG
		WHERE ML_IMG_NO = #{movelineNo}
		ORDER BY ML_IMG_LEVEL
    </select>
	
	
	<!-- 코스 메인 페이지 조회 (랜덤 해시태그) -->
	<select id="selectMoveLineMain" resultMap="MoveLineDetail_rm">
		SELECT ML_HASH_NAME
		FROM (SELECT * 
		      FROM MOVELINE_HASH
		      ORDER BY DBMS_RANDOM.RANDOM())
		      
		<![CDATA[WHERE ROWNUM <= 10]]>
	</select>
	
	
	<!-- 코스 메인 페이지 조회 (최신 코스) -->
	<select id="selectMoveLineMain2" resultMap="MoveLineDetail_rm">
		SELECT A.ML_TITLE, B.LM_NO, D.LOCATION_NAME, C.LM_NAME,  C.LM_X, C.LM_Y, A.ML_NO,
		
			(SELECT E.ML_RENAME FROM ML_IMG E
             WHERE A.ML_NO = E.ML_IMG_NO
             AND E.ML_IMG_LEVEL = 0) THUMBNAIL
             
		  FROM MOVELINE_BOARD A
		  
		 INNER JOIN COORDINATE B
		    ON B.ML_NO = A.ML_NO
		  LEFT OUTER JOIN LANDMARK C
		    ON C.LM_NO = B.LM_NO
		  LEFT OUTER JOIN LOCATIONS D
		    ON D.LOCATION_TYPE = A.LOCATION_TYPE
		    
		<![CDATA[WHERE ROWNUM <= 3]]>
		 ORDER BY A.ML_NO DESC
	</select>
	
	<!-- 코스 마지막 번호 조회 -->
	<select id="selectLastNo" resultMap="MoveLine_rm">
		SELECT ML_NO
		FROM MOVELINE_BOARD
		<![CDATA[WHERE ROWNUM <= 1]]>
		ORDER BY ML_NO DESC
	</select>




	<!-- 특정 지역 전체 게시글 수 조회 -->
	<select id="locationListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MOVELINE_BOARD
		JOIN LOCATIONS USING(LOCATION_TYPE)
		WHERE LOCATION_TYPE = #{locationNum}
		AND ML_DELETE_DT IS NOT NULL
	</select>

	
	<!-- 특정 해시태그 수 조회 -->
	<select id="hashTagListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MOVELINE_HASH
		WHERE ML_HASH_NAME = #{mLHashTag}
		
		<!-- SELECT COUNT(*)
		FROM MOVELINE_BOARD
		JOIN MOVELINE_HASH USING(ML_NO)
		WHERE ML_HASH_NAME = #{mLHashTag}
		AND ML_DELETE_DT IS NOT NULL -->
	</select>
   
   
   
   	
    <!-- 특정 지역 목록 조회 -->
	<select id="selectLocationList" resultMap="MoveLineList_rm">
	SELECT ML_TITLE, ML_HASH_NAME, LM_NAME
          
             (SELECT ML_RENAME FROM ML_IMG 
             WHERE MOVELINE_BOARD.ML_NO = ML_IMG.ML_IMG_NO
             AND ML_IMG_LEVEL = 0) THUMBNAIL
             
         FROM MOVELINE_BOARD
         
         JOIN LOCATIONS USING(LOCATION_TYPE)
         JOIN USER_TB USING(USER_NO)
         JOIN COORDINATE USING(ML_NO)
         JOIN MOVELINE_HASH USING(ML_NO)
         JOIN ML_IMG USING(ML_NO)
         
         WHERE ML_DELETE_DT IS NOT NULL
         AND LOCATION_TYPE = #{locationNum}
         ORDER BY BOARD_NO DESC
	</select>
   
   
    <!-- 특정 해시태그 목록 조회 -->
	<select id="selectHashTagList" resultMap="MoveLineList_rm">
	SELECT ML_TITLE, ML_HASH_NAME, LM_NAME
          
             (SELECT ML_RENAME FROM ML_IMG 
             WHERE MOVELINE_BOARD.ML_NO = ML_IMG.ML_IMG_NO
             AND ML_IMG_LEVEL = 0) THUMBNAIL
             
         FROM MOVELINE_BOARD
         
         JOIN LOCATIONS USING(LOCATION_TYPE)
         JOIN USER_TB USING(USER_NO)
         JOIN COORDINATE USING(ML_NO)
         JOIN MOVELINE_HASH USING(ML_NO)
         JOIN ML_IMG USING(ML_NO)
         
         WHERE ML_DELETE_DT IS NOT NULL
         AND ML_HASH_NO = #{MLHashTagNo}
         ORDER BY BOARD_NO DESC
	</select>
   
</mapper>