<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<resultMap type="LandMark" 				id="landMark_rm">
		<id 	property="landMarkNo" 		column="LM_NO" />
		<result property="landMarkX" 		column="LM_X"/>
		<result property="landMarkY" 		column="LM_Y"/>
		<result property="landMarkName" 	column="LM_NAME"/>
		<result property="landMarkContent"	column="LM_CONTENT"/>
		<result property="landMarkAddress"	column="LM_ADDRESS"/>
		<result property="landMarkCreate"	column="LM_CREATE_DT"/>
		<result property="userName"			column="USER_NAME"/>
		<result property="thumbnail" 		column="LM_IMG_RENAME"/>
		<result property="locationType" 	column="LOCATION_TYPE"/>
	</resultMap>
	
	<resultMap type="MoveLine" id="moveline_rm">
		<id		property="movelineNo"		 column="ML_NO"/>
		<result property="movelineTitle"	 column="ML_TITLE"/>
		<result property="movelineContent"	 column="ML_CONTENT"/>
		<result property="movelineCD"		 column="ML_CREATE_DT"/>
		<result property="movelineDD"		 column="ML_DELETE_DT"/>
		<result property="movelineTheme" 	 column="ML_THEME"/>
		<result property="userName"		 	 column="USER_NAME"/>
		<result property="locationName"		 column="LOCATION_NAME"/>
		<result property="reNameImage" 		 column="ML_RENAME"/>
	</resultMap>
	
	<resultMap type="MyReply" id="myReply_rm">
		<id 	property="movelineNo"		column="ML_NO"/>
		<result property="movelineTitle" 	column="ML_TITLE"/>
		<result property="replyContent" 	column="REPLY_CONTENT"/>
		<result property="movelineWriter" 	column="USER_NAME"/>
		<result property="replyNo"			column="REPLY_NO"/>
		<result property="rowNo" 			column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="MyMoveline" id="myMoveline_rm">
		<id 	property="movelineNo"		column="ML_NO"/>
		<result property="movelineTitle" 	column="ML_TITLE"/>
		<result property="locationName" 	column="LOCATION_NAME"/>
		<result property="reNameImage" 		column="ML_RENAME"/>
	</resultMap>
	
	
	
	<!-- 프로필 이미지 변경 -->
	<update id="updateProfile">
		UPDATE USER_TB SET USER_PROFILE = #{profileImage}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="updateInfo">
		UPDATE USER_TB SET 
		USER_NAME = #{updateName}, USER_PHONE = #{updateTel}, USER_ADDRESS = #{userAddress}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 암호화된 비밀번호 조회 -->
	<select id="selectEncPw" resultType="string">
		SELECT USER_PW FROM USER_TB
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE USER_TB SET USER_PW = #{changePw}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="secession">
		UPDATE USER_TB SET SECESSION_DT = SYSDATE
		WHERE USER_NO = #{userNo}
	</update>
 
	<!-- 랜드마크 즐겨찾기 -->
 	<select id="favoriteLandmark" resultMap="landMark_rm">
 		SELECT LM_NO, LOCATION_TYPE, LM_NAME, LM_CONTENT, LM_IMG_RENAME
		FROM BOOKMARK_LM A
		JOIN LANDMARK USING(LM_NO)
		JOIN LAND_IMG USING(LM_NO)
		WHERE A.USER_NO = #{userNo}
		AND LM_IMG_LEVEL = 0
 	</select>
 	
 	<!-- 코스 즐겨찾기 -->
 	<select id="favoriteMoveline" resultMap="moveline_rm">
		SELECT ML_NO, ML_TITLE, LOCATION_NAME, ML_RENAME
		FROM BOOKMARK_ML A
		JOIN MOVELINE_BOARD USING(ML_NO)
		JOIN LOCATIONS USING(LOCATION_TYPE)
		JOIN ML_IMG USING(ML_NO)
		WHERE A.USER_NO = #{userNo}
		AND ML_IMG_LEVEL = 0
 	</select>
 	
 	<!-- 내 댓글 수 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM REPLY
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 내 댓글 목록 -->
 	<select id="selectMyReplyList" resultMap="myReply_rm">
 		SELECT ROWNUM, D.*FROM
		    (SELECT REPLY_NO, ML_NO, ML_TITLE, REPLY_CONTENT, C.USER_NAME
		    FROM REPLY A
		    JOIN MOVELINE_BOARD B USING(ML_NO)
		    JOIN USER_TB C ON B.USER_NO = C.USER_NO 
		    WHERE A.USER_NO = #{userNo}
		    ORDER BY REPLY_NO) D
		ORDER BY ROWNUM DESC
 	</select>
 	
 	<!-- 내 코스 조회 -->
 	<select id="selectMyMovelineList" resultMap="myMoveline_rm">
 		SELECT ML_NO, ML_TITLE, LOCATION_NAME, ML_RENAME
 		FROM MOVELINE_BOARD
 		JOIN LOCATIONS USING(LOCATION_TYPE)
        JOIN ML_IMG USING(ML_NO)
 		WHERE USER_NO = #{userNo}
 		AND ML_IMG_LEVEL = 0
 		ORDER BY ML_NO
 	</select>
 	
 	<select id="favoriteLandmarkForMoveline" resultMap="landMark_rm">
 		SELECT LM_NO, LM_NAME, LM_IMG_RENAME
		FROM BOOKMARK_LM A
		JOIN LANDMARK USING(LM_NO)
		JOIN LAND_IMG USING(LM_NO)
		WHERE A.USER_NO = #{userNo}
		AND LOCATION_TYPE = #{locationNum}
		AND LM_IMG_LEVEL = 0
 	</select>
 	
</mapper>
