<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">
	<resultMap type="User" id="user_RM">
		<id 	property="userNo" 			column="USER_NO"/> 	<!-- PRIMARY KEY -->
		<result property="userEmail" 		column="USER_EMAIL"/>
		<result property="userPW" 			column="USER_PW"/>
		<result property="userName" 		column="USER_NAME"/>
		<result property="userTel" 			column="USER_PHONE"/>
		<result property="adminFlag" 		column="ADMIN_FL"/>
		<result property="userAddress" 		column="USER_ADDRESS"/>
		<result property="profileImage" 	column="USER_PROFILE"/>
		<result property="registDate" 		column="REGIST_DT"/>
		<result property="secessionDate" 	column="SECESSION_DT"/>
	</resultMap>
	
	<insert id="addAccount" parameterType="User">
		INSERT INTO USER_TB VALUES
		(SEQ_USER_NO.NEXTVAL,#{userEmail},#{userPW},#{userName},#{userTel},DEFAULT,#{userAddress},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<select id="matchPW" parameterType="string" resultType="string">
		SELECT USER_PW
		FROM USER_TB
		WHERE USER_EMAIL = #{email}
		AND SECESSION_DT IS NULL
	</select>
	
	<select id="login" parameterType="string" resultMap="user_RM">
		SELECT USER_NO,USER_EMAIL,USER_NAME,USER_PHONE,ADMIN_FL,USER_ADDRESS,REGIST_DT,USER_PROFILE
		FROM USER_TB
		WHERE USER_EMAIL = #{email}
		AND SECESSION_DT IS NULL
	</select>
	
	<select id="findAccount" parameterType="User" resultMap="user_RM">
		SELECT USER_EMAIL,USER_NAME
		FROM USER_TB
		WHERE USER_PHONE = #{userTel}
		AND USER_NAME = #{userName}
	</select>
	<select id="selectAccount" parameterType="User" resultMap="string">
		SELECT USER_PW
		FROM USER_TB
		WHERE USER_EMAIL = #{userEmail}
		AND USER_NAME = #{userName}
	</select>
	<update id="updatePassword" parameterType="User">
		UPDATE SET USER_TB INTO USER_PW = #{userPW}
		WHERE USER_EMAIL = #{userEmail}
		AND USER_NAME = #{userName}
	</update>
</mapper>
