* { margin:0; padding:0; }
/* body { background: #545454; } */
div {
    box-sizing: border-box;
}


#contents{
    width: 980px;
    margin: 200px auto;
    padding: 0 20px 27px 20px;
}


.titleType1 {
    text-align: center;
    position: relative;
}
.titleType1 .area_tag {
    text-align: left;
}
.titleType1 .area_tag .name1 {
    padding: 5px 0 0 30px;
}
.titleType1 .area_tag > span {
    float: left;
}
.tit_cont .area_tag > span, .titleType1 .area_tag > span {
    position: relative;
    display: inline-block;
    min-height: 28px;
    font-size: 20px;
    color: #666;
}
.titleType1 h2 {
    padding: 19px 0 0;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-weight: 800;
    color: #333;
    font-size: 36px;
    letter-spacing: -1px;
    word-break: keep-all;
}
.titleType1 .area_address {
    margin-right:105px;
    display: inline-block;
    padding-top: 10px;
}




#top_menu { /* position: fixed; */ display:flex; align-items: center;margin-top: 50px;height:114px;  background: #545454; }
.container-1{ width: 1170px; margin:0 auto;} /* TOP 메뉴  */

#logo a{text-decoration: none; color: #fff;}
#top_menu ul {display: flex; justify-content: space-evenly; align-items: center;}
#top_menu ul li { display:flex; justify-content: center;align-items: center;padding:59px 0px 0px 63px; float:left; list-style: none; color: #CCCCCC; }
#top_menu ul li a { color:#fff; text-decoration:none; }
#top_menu ul li.on a { color:#000; font-weight:bold; } 
#logo {float:left; width:125px; padding-top:40px; color:#FFFFFF;}

#contents-detail > section {padding:0; height:100vh; } 
#contents-detail > section h2{ margin-top: 50px; font-size: 3em; color: #FFF;}
#section1 {background:#00BAFF;}
#section2 {background:#CCCCCC;}
#section3 {background:#FFE200; }
#section1>img{
    width:980px;
}


/* =========================================== */
/* General styles */
* {

    -webkit-font-smoothing: antialised;
}

body {
    margin-top: 5em;
    font: 20px/1.5 "Helvetica", Arial, sans-serif;
}

.container {
    /* height:100%; */
    position: relative;
    width: 100%;	
    overflow: hidden;	   
    padding-bottom: 80px; 
}


.slide-img{
    width:100%;
    height:100%;
    /* height:50%; */
    /* position: absolute; */
}
.slider-container {
    position: absolute;
    width:100%;
    left:0;
}

.slide {
	position: absolute;
	width: 100%;
    height:500px;
	/* padding:0 10%; */
	box-sizing:border-box;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	overflow: hidden;
}

.slider-container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}

blockquote {
    color: #636363;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1.5em;
}

cite {
    font-size: .75em;
    font-weight: 700;
    font-style: normal;
}

/* Utility */
.simple-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Nav */
#prev,
#next {
    position: absolute;
    top: 50%;
	left:50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.fa-angle-right{
    font-size:40px;
    color: white;
}
.fa-angle-left{
    font-size:40px;
    color: white;
}

#prev { margin-left:-415px; opacity: 0.6;}
#next {
    margin-left:390px; /* 380px */
     opacity: 0.6;
	
}
#prev:hover{
    color:white;
    opacity: 1;
}
#next:hover{
    color:white;
    opacity: 1;
}

.pager {
    position: absolute;
    left: 0;right: 0;bottom: 0;
    text-align: center;
    margin:0; padding: 0;
}
.pager span{
    width: 10px;height: 10px;background:#ccc;
    border-radius:50%; display: inline-block; text-indent: -9999em;
    margin:0 5px;
}
.pager span.active{
    background: #333;
}