.header {
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-top: 80px;
}
article, aside, details, figcaption, figure, footer, main, menu, nav, section, summary {
    display: block;
}
* {
    outline: none;
    font-family: inherit;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

.pageWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.boardTitle {
    margin: 50px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.board {
    margin: 24px 0px 58px;
}

.title{
    padding: 40px 0 10px;
    border-bottom: 1px solid rgb(209, 209, 209);
    justify-content: space-between;
    display: flex;
}

.contentArea{
    margin-top: 30px;
    height: 600px;
    border-bottom: 1px solid rgb(209, 209, 209);
    border-top: 1px solid rgb(209, 209, 209);
}

.content{
    margin-top: 30px;
    height: 600px;
    width: 100%;
    resize: none;
    border: none;
    font-size: 18px;
}


.replyArea{
    margin: 40px 0 100px;
    height: 300px;
}


.reply{
    height: 300px;
    width: 100%;
    resize: none;
    margin-right: 50px;
    font-size: 18px;
    border: 1px solid rgb(209, 209, 209);
}


.submitBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 93px;
    z-index: 200;
    box-shadow: rgb(0 0 0 / 8%) 0px -10px 30px -10px;
    background-color: white;
}

.buttonContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    margin: 13px auto 24px;
}

.submitButton {
    background: #1BB3FE;
    border: none;
    color: rgb(255, 255, 255);
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    border-radius: 10px;
    padding: 16px 22px;
    font-size: 16px;
    line-height: 24px;
}

.answerName{
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.answer{
    margin-bottom: 300px;
}

#title{
    font-size: 23px;
}

#createDate{
    padding-top: 10px;
}