.board {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
    margin-top: 80px;
}

* {
    outline: none;
    font-family: inherit;
}

*{
    background-repeat: no-repeat;
    box-sizing: inherit;
}

div {
    display: block;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}



h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 30px 0px 80px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

div {
    display: block;
}

.noticePage {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}

.wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.number {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.course {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: inline;
    height: 20px;
    width: 60px;
    text-align: center;
}

.reporter{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: inline;
    height: 20px;
    width: 60px;
    text-align: center; 
}

.reason {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: inline;
    height: 20px;
    width: 60px;
    text-align: center;
}

.date{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: inline;
    height: 20px;
    width: 300px;
    text-align: center;
}

.situation {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: inline;
    height: 20px;
    width: 60px;
    text-align: center;
}

.date {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: inline;
    height: 20px;
    width: 80px;
    text-align: center;
}

.title > a{
    color: black;
    text-decoration: none;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

.category {
    cursor: pointer;
}

.eventBadge {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(160, 130, 250);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

/* 페이지 */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing : -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: #455ba8;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}