* {
    outline: none;
    font-family: inherit;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
.header {margin-top: 100px;}

.pageWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.boardTitle {
    margin: 50px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.board {
    margin: 24px 0px 58px;
}


.title {
    display: block;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 6px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    font-size: 20px;
    color: #1F3A93;
}

.titleInput {
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 57px 12px 14px;
    background: rgb(250, 250, 250);
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 6px;
}

.contentField {
    margin: 16px 0px 0px;
}

.contentLabel {
    display: block;
    margin-bottom: 6px;
    color: #1F3A93;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
}

.contentArea {
    position: relative;
    min-height: 600px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    border-radius: 3px;
    margin-bottom: 100px;
}

.content {
    height: 600px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 14px 0px;
    background: rgb(250, 250, 250);
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    border: 1px solid rgb(238, 238, 238);
}

.submitBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 93px;
    z-index: 200;
    box-shadow: rgb(0 0 0 / 8%) 0px -10px 30px -10px;
    background-color: white;
}

.buttonContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    margin: 13px auto 24px;
}

.submitButton {
    background: #1BB3FE;
    color: rgb(255, 255, 255);
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    border-radius: 10px;
    padding: 16px 22px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    font-weight: bold;
}
