/* 마이페이지 코스 조회 */

body{overflow-x: hidden;}

.board-list{
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

.course-list, .on{
    height: 250px;
    width: 1000px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}

.course-content{
    padding: 5px;
    width: 250px;
}

.course-img{
    overflow: hidden;
    position: relative;
    height: 250px;
}

.course-img > a{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;

    color: white;
    text-decoration: none;
}

.course-img h1{
    height: 150px;
}

.course-img ul{
    font-size: 15px;
    list-style: none;
    margin-top: 30px;
    padding: 0;
}

.course-img > img{
    width: 250px;
    height: 250px;
}

.courseSlider{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 11;
    margin-top: 120px;
    margin-left: -70px;
}

.courseSlider > i{
    cursor: pointer;
}



