/* 마이페이지 즐겨찾기 */

/* *{border: 1px solid black;} */

.board-list{
    width: 1000px;
    height: 420px;
    margin: auto;
    overflow: hidden;
}

/* 즐겨찾기 탭 */
.favorite-tab{
    width: 200px;
    height: 40px;
    margin: 5px 25px;
    background-color: white;
}
.favorite-tab > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.current-tab{
    font-weight: bold;
    background-color: #bbd0ff;
    border: 1px solid #1BB3FE;
    border-radius: 10px;
}
.favorite-tab li{
    flex: 1 1 150px; 
    display: block;
    height: 100%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    cursor: pointer;
}
.favorite-tab li:hover{
    border: 1px solid #1BB3FE;
    border-radius: 10px;
    font-weight: bold;
}


/* 랜드마크 정보 */
.landmark-list, .on{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    height: 250px; 
    width: 1000px;
}
.landmark-content{
    min-width: 250px;
    text-align: center;
}
.landmark-img > img{
    width: 200px;
    height: 200px;
}
.landmark-text{
    text-align: left;
    padding: 5px;
    margin: 10px 17px;
}
.landmark-text a{
    text-decoration: none;
    color: #1BB3FE;
}
.landmark-text > div{
    margin-top: 8px;
    height: 95px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


/* 코스영역 초기 */
.course-area{
    display: none;
}

/* 슬라이드 */
.landmarkSlider{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 11;
    margin-top: 120px;
    margin-left: -70px;
}

.landmarkSlider > i{
    cursor: pointer;
}
