/* 마이페이지 공통 style */

/* div { border: 1px solid black; } */

* {box-sizing: border-box; }

.myPage-container * {font-family: 'NanumBarunGothic';}

body{
	margin-top: 120px;
}

/* 사용자 프로필 + 네비 */
.myPage-container{
    width: 1140px;
    margin: auto;
    font-family: 'NanumBarunGothic';
}

/* 사용자 프로필 영역*/
.myPage-profile-area{
    height: 350px;
    display: flex;
    background-color: #bbd0ff4d;
}

.myPage-profile{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* 사용자 프로필 이미지 */
.myPage-image-area{
    /* width: 160px;
    height: 160px; */
    margin: auto;
}
.myPage-image{
    position : relative;
}
.myPage-image img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.myPage-image input{
    display: none;
}

.image-btn-area{
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.image-btn-area > button{
    width: 70px;
    height: 30px;
    font-size: 1em;
    color: white;
    background-color: #1F3A93;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-btn-area > button:hover{
    font-weight: bold;
    color: #1F3A93;
    background-color: white;
    border: 1px solid #1F3A93;
}

/* 사용자 현재 정보 */
.myPage-myInfo{
    flex-basis: 50%;
}

.myPage-myInfo > h2{
    letter-spacing: 2px; 
    margin-bottom: 15px;
    color: #1F3A93;
}

.myPage-row{
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}
.myPage-row > span:nth-of-type(1){
    width: 90px;
    letter-spacing: 3px; 
    font-weight: bold;
}
.myInfo-btn{
    display: flex;
    justify-content: flex-end;
}
.myInfo-btn > a{
    width: 90px;
    height: 30px;
    font-size: 1.1em;
    color: white;
    background-color: #1F3A93;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.myInfo-btn > a:hover{
    font-weight: bold;
    color: #1F3A93;
    background-color: white;
    border: 1px solid #1F3A93;
}


/* 네비 */
.myPage-nav{
    width: 90%;
    height: 40px;
    margin: 30px auto;
    background-color: white;
    border-top: 2px solid #1F3A93;
    border-bottom: 2px solid #1F3A93;
}
.myPage-nav > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.myPage-nav li{
    flex: 1 1 150px; 
}
.myPage-nav a{
    display: block;
    height: 100%;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.myPage-nav a:hover{
    color: #1F3A93;
    font-weight: bold;
}
.myPage-nav span{
    font-size: 22px;
    color: black;
    padding: 6px;
}



/* 페이징 */
.pagination-area{
    width: 550px;
    height: 40px;
    margin: 10px auto;
}
.pagination{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination > li{
    flex: 50px;
}
.pagination a{
    display: block;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.pagination a:hover{
    border: 1px solid #1F3A93;
    border-radius: 10%;
}
.pagination .current{
    color: white;
    background-color: #1F3A93;
    border-radius: 10%;
}

